* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  margin: auto;
  background: #f7f7f9;
  min-width: 375px;
}

button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #7f8cff;
  transition: all 0.3s ease-in-out;
  
}

.about,
.work > ul,
.headline,
.contact {
  margin: auto;
  padding: 0 24px;
  align-items: center;
  width: 100%;
}

header {
  left: 0;
  top: 0;
  right: 0;
  height: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  background-color: #fff;
  margin: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 236px 24px 144px 24px;
  gap: 12px;
  border-bottom-left-radius: 40px;
  top: 0;
  overflow: hidden;
  background: #fff;
  background-image: url(imgoverlay/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-size: 100%;
}

header .logo {
  display: flex;
  width: 100px;
  left: 12px;
  top: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px;
}

.headline h3 a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

header .logo a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

span:hover {
  color: rebeccapurple;
  transition: all;
  transition-duration: 0.1s;
  transform: scale(1.02);
}

.work .languages a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  align-items: center;
  height: 16px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.container {
  z-index: 1;
  gap: 12px;
}

button:hover {
  background: #6070ff;
  border: none;
  color: #fff;

}

button:focus {
  background-color: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  background-color: #5e6c84;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex: none;
  order: 3;
  flex-grow: 0;
  height: 20px;
  padding-top: 15px;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 150px;
  letter-spacing: 0;
  text-align: left;
  max-width: 95%;
}

.headline p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  height: 150px;
}

.headline h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.abt_head .btn a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  text-align: center;
}

.container h3 a:hover {
  color: red;
}

.work {
  z-index: 1;
}

.work > ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  left: 0;
}

.work > ul > li {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  min-width: 200px;
}

.lan img {
  height: 16px;
  width: 16px;
}

.work > ul > li > img {
  height: 100%;
  width: auto;
  max-width: fit-content;
  transition: all 0.5s ease-out;
}

.work > ul > li > img:hover {
  transform: scale(1.03);
}

.work > ul > li > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.work > ul > li > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.abt_head h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b40;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work > ul > li > div > div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.itm1 ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  gap: 16px;
  padding-top: 12px;
  width: 100%;
}

.work > ul > li > div > div ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  height: 32px;
}

.itm1 .fne2 li {
  text-align: center;
  align-self: center;
}

.work > ul > li > div > div ul li:nth-of-type(1) {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.work > ul > li > div > div ul li:nth-of-type(3) {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  height: 16px;
}

.work > ul > li > div > div ul li:nth-of-type(5) {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.work > ul > li > div > div > ul > li img {
  width: 8px;
  height: 8px;
}

.about > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_wrapper p {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 12px;
}

.work > ul > li > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work .languages {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0;
  overflow: hidden;
  height: 24px;
}

.work .languages li:hover {
  background-color: grey;
}

.rev {
  height: 72px;
  position: relative;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.rev > button {
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - (48px / 2));
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background: #fff;
  z-index: 1;
}

.abt_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  height: 409px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.abt_head h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.abt_head .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border-radius: 8px;
}

.links2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 300px;
  max-width: 700px;
}

.itm1 {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: auto;
  width: 100%;
}

.itm2,
.itm3 {
  width: 100%;
  height: auto;
}

.lan {
  width: 100%;
}

hr {
  width: 100%;
  height: 1px;
  background: #dfe1e6;
  opacity: 0.5;
}

.itm2 > .lan,
.itm3 > .lan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.itm1 > .lan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  width: 100%;
}

.itm2 > .lan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itm3 > .lan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  z-index: 1;
  text-align: center;
  background-color: #6070ff;
  border-top-left-radius: 120px;
  background-image: url(./img/contact\ form\ background\ shapes.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 120px 24px 45px;
}

.contact .section-header {
  color: white;
}

.contact form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact input,
.contact textarea {
  font-weight: 400;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  padding: 14px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact button {
  padding: 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}
